// Colours
$bg-primary: #007bff;
$bg-secondary: #545b62;
$bg-success: #28a745;
$bg-danger: #dc3545;
$bg-warning: #ffc107;
$bg-info: #17a2b8;

$colour-dark: #111;
$colour-light: #eee;
$colour-light-2: #ddd;
$colour-light-3: #f8f8f8;
$colour-light-4: #bbb;

$default-box-shadow: #505050;

// Typography
$default-font: "Montserrat", sans-serif;
$default-font-size: 1.6rem;