img {
	display: block;
	height: auto;
	max-width: 100%;

	&.img-thumbnail {
		border: .1rem solid $colour-light-2;
		border-radius: .4rem;
		padding:.5rem;
		max-width: 15rem;
	}

	&.img-avatar {
		border: .1rem solid $colour-light-2;
		border-radius: 50%;
		height: 8rem;
		padding:.3rem;
		width: 8rem;
	}

	&.img-zoom {
		border-radius: .4rem;
		max-width: 15rem;
		transition: transform .5s;

		&:hover { transform: scale(1.5); }
	}
}

.image-gallery {
	display: grid;
	grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	justify-items: center;
	
	&-main {
		grid-column: 1 / -1;
		width: 100%;
	}
}