img {
	display: block;
	height: auto;
	max-width: 100%;

	&.img--thumbnail {
		border: .1rem solid $colour-light-2;
		border-radius: .4rem;
		padding:.5rem;
		max-width: 15rem;

		&:hover {
			box-shadow: 0 .4rem .5rem rgba($default-box-shadow, 0.75);
			border-width: .3rem;
			transform: scale(1.03);
		}
	}

	&.img--avatar {
		border: .1rem solid $colour-light-2;
		border-radius: 50%;
		height: 8rem;
		padding:.3rem;
		width: 8rem;

		&:hover {
			box-shadow: 0 .4rem .5rem rgba($default-box-shadow, 0.75);
			border-width: .3rem;
			transform: scale(1.03);
		}
	}

	&.img--zoom {
		border-radius: .4rem;
		max-width: 15rem;

		&:hover { transform: scale(1.5); }
	}
}