ul,
ol {
	li { margin-bottom: 1rem; }

	&.collection {
		background: $colour-light;
		border: .1rem solid $colour-dark;
		border-radius: 1rem;
		list-style: none;

		li {
			border-bottom: .1rem solid $colour-dark;
			margin: 0;
			padding: 1rem 2rem;
		}
		li:last-child { border-bottom: none; }
	}

	&.breadcrumb {
		border-bottom: .1rem solid $colour-dark;
		display: flex;
		font-size: 1.2rem;
		list-style: none;
		margin-bottom: 2rem;
		padding: .6rem 2rem 0 0;

		& li + li::before {
			content: " /";
			padding: 0 .5rem;
		}

		& .breadcrumb-item {

			&:hover:not(:last-child) {
				text-decoration: underline;
			}
			
			&:last-child a { font-weight: bold;	}
		}
	}
}

ul { list-style: circle inside; }
ol { list-style: decimal inside; }