.mobile-nav {
	background: $colour-dark;
	display: flex;
	flex-direction: column;
	height: 100%;
	left: 0;
	min-width: 30rem;
	overflow: auto;
	position: fixed;
	top: 0;
	transform: translateX(-40rem);
	transition: transform 0.5s ease-out;
	-webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
	z-index: 9999;

	& .logo {
		font-size: 2.5rem;
		padding: 0 1rem 1rem;
	}
	&__link {
		align-items: center;
		background: transparent;
		border: none;
		border-top: .2rem solid $colour-light;
		cursor: pointer;
		display: flex;
		font-family: inherit;
		font-size: 1.6rem;
		font-weight: inherit;
		letter-spacing: inherit;
		text-align: left;

		&:hover {
			background: $bg-primary;
			color: $colour-light;
		}

		&:last-child { border-bottom: .2rem solid $colour-light; }
		
	}
	
	.submenu-toggle .material-icons {
		margin-left: auto;
		transition: transform .5s;
		vertical-align: middle;
	}


	.submenu {
		display: none;
		
		&__link {
			background: $colour-light;
			border-top: .2rem solid $colour-dark;
			display: block;
			padding: 1rem 3.2rem;
			transition: all .3s ease-in-out;

			&:nth-child(odd):hover {
				background: $bg-danger;
				color: $colour-light;
			}

			&:nth-child(even):hover {
				background: $bg-success;
				color: $colour-light;
			}
		}
	}

	& .logo,
	&__link {
		color: $colour-light;
		padding: 1rem 2.5rem;
	}

	&--open { transform: translateX(0); }
	&--close { transform: translateX(-40rem); }
}