.modal {
	background: rgba($colour-dark, .8);
	display: none;
	height: 100vh;
	width: 100vw;
	left: 0;
	position: fixed;
	top: 0;
	transition: all 1s;
	z-index: 9999999999999;
	
	&-close {
		color: $colour-dark;
		position: absolute;
		top: 0;
		right: 1rem;
		font-size: 3rem;
		text-decoration: none;
		display: inline-block;
		line-height: 1;

		&:hover { color: $bg-danger; }
	}

	&-content {
		animation: slideInLeft 1s;
		background: $colour-light;
		border-radius: .5rem;
		box-shadow: 0 2rem 4rem rgba($colour-dark, .2);
		display: none;
		margin: 10rem auto 0;
		max-width: 50%;
		padding: 2rem;
		position: relative;
	}
}