.side-nav {
	background: $colour-dark;
	display: flex;
	flex-direction: column;
	height: 100%;
	left: 0;
	min-width: 30rem;
	overflow: auto;
	position: fixed;
	top: 0;
	transform: translateX(-40rem);
	transition: transform 0.5s ease-out;
	-webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
	z-index: 9999;

	& .logo {
		font-size: 2.5rem;
		padding: 0 1rem 1rem;
	}
	&-link {
		align-items: center;
		background: transparent;
		border: none;
		border-bottom: .2rem solid $colour-light;
		cursor: pointer;
		display: flex;
		font-family: inherit;
		font-size: 1.6rem;
		font-weight: inherit;
		letter-spacing: inherit;
		outline: none;
		text-align: left;

		&:last-child { border-bottom: .2rem solid $colour-light; }
	}
	
	.submenu-toggle .material-icons {
		margin-left: auto;
		transition: transform .5s;
		vertical-align: middle;
	}


	.submenu {
		display: none;
		
		&-link {
			background: $colour-light;
			border-bottom: .2rem solid $colour-dark;
			display: block;
			padding: 1rem 3.2rem;
			transition: all .3s ease-in-out;

			&:hover {
				background: $colour-light-4;
				color: #fff;
			}
		}
	}

	& .logo,
	&-link {
		color: $colour-light;
		padding: 1rem 2.5rem;
	}

	&-open { transform: translateX(0) !important; }

	&.side-nav-fixed {
		transform: translateX(0);
		position: static;
		min-width: 23rem;

		@include respond(phone) {
			transform: translateX(-40rem);
			position: fixed;
		}
	}
}