html,
body {
	height: 100%;
	width: 100%;
}
html {
	scroll-behavior: smooth;
	// This defines what 1rem is
	font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

	// @include respond(big-desktop) { //width > 1800px?
	// 	font-size: 75%; //1rem = 12; 12/16 = 75%
	// }

	@include respond(tablet-landscape) { //width < 1200px?
		font-size: 56.25%; //1rem = 9px; 9/16 = 56.25%
	}

	@include respond(tablet-portrait) { //width < 900px?
		font-size: 50%; //1rem = 8px; 8/16 = 50%
	}
}

body {
	color: $colour-dark;
	font-family: $default-font;
	letter-spacing: .1rem;
	line-height: 1.7;
	min-height: 100%;
}

a {
	color: $colour-dark;
	text-decoration: none;
}

.material-icons {
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	-webkit-font-feature-settings: 'liga' 1;
	-moz-font-feature-settings: 'liga' 1;
	font-feature-settings: 'liga' 1;
}