.header-component {
	margin: 10rem auto 0;
	width: 80%;

	@include respond(tablet-portrait) {
		width: 95%;
	}
}

.component {
	
	.panel {
		&:nth-child(odd) {
			margin: 5rem 0;
		}
	}
	
	h2 ~ .panel {
		margin-top: 0 !important;
	}
	
	.card {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		margin: 5rem 0 0;
		max-width: none;
	
		&-body {
			text-align: left;
			width: 100%;
		}

		.card-body > .card {
			max-width: 35rem;
		}
	}
	
	.panel {
		border-top: 0;
		border-color: #545b62;
	}

	.thumbnails {
		display: grid;
		grid-gap: 1rem 3rem;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		justify-items: center;
	}
}