.header-home {
	background: #111;
	color: #eee;
	transition: all 2s;
	clip-path: polygon(
		0 25vh, 
		100% 0, 
		100% 75vh, 
		0 100%
	);
}

.home-section { padding: 6rem 0; }

.components {
	display: grid;
	grid-gap: 1rem 3rem;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	justify-content: center;
}

.components .card { max-width: initial; }
.card__body i:not(.nav-toggle) { font-size: 8rem; }